.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: start;
    -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: start;
    -ms-flex-align: start;
      align-items: flex-start;
  width: 920px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
