.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 90%;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
