.links {
  -webkit-transition: opacity 0.17s ease-in-out;
  -o-transition: opacity 0.17s ease-in-out;
  transition: opacity 0.17s ease-in-out;
  text-decoration: none;
}

.links:hover {
  opacity: 0.6;
}
